# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [228]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [229]:
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipo = pd.read_csv(url, sep='\t')

chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [183]:
chipo.loc[:9]
#chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [184]:
# Solution 1
len(chipo)

4622

In [163]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [164]:
len(chipo.columns)
# chipo.shape

5

### Step 7. Print the name of all the columns.

In [165]:
chipo.columns.tolist()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [166]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [167]:
s=chipo.groupby('item_name').agg({'quantity':'sum'}).sort_values('quantity',ascending=False).idxmax()
s
# s.max()
# m=chipo.groupby('item_name').s.max()
# m

quantity    Chicken Bowl
dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [168]:
s=chipo.groupby('item_name').agg({'quantity':'sum'}).sort_values('quantity',ascending=False).max()
s

quantity    761
dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [169]:
s=chipo.groupby('choice_description').agg({'quantity':'sum'}).sort_values('quantity',ascending=False).idxmax()
s

quantity    [Diet Coke]
dtype: object

### Step 12. How many items were orderd in total?

In [206]:
chipo.quantity.sum()

4972


### Step 13. Turn the item price into a float

In [224]:
# # chipo["item_price"] = chipo.item_price.str.slice(1).astype(float)

# # chipo.info()
# chipo["item_price"]= chipo.item_price.str.slice(1).astype(float)

#### Step 13.a. Check the item price type

In [225]:
chipo.dtypes['item_price']

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [230]:

chipo['item_price']=chipo.item_price.apply(lambda x : float(x[1:]))

#### Step 13.c. Check the item price type

In [231]:
chipo.dtypes['item_price']

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [244]:
chipo.groupby('item_name').agg({'quantity':'sum','item_price':'sum'})

                                       quantity  item_price
item_name
6 Pack Soft Drink                            55      356.95
Barbacoa Bowl                                66      672.36
Barbacoa Burrito                             91      894.75
Barbacoa Crispy Tacos                        12      120.21
Barbacoa Salad Bowl                          10      106.40
Barbacoa Soft Tacos                          25      250.46
Bottled Water                               211      302.56
Bowl                                          4       29.60
Burrito                                       6       44.40
Canned Soda                                 126      137.34
Canned Soft Drink                           351      438.75
Carnitas Bowl                                71      736.71
Carnitas Burrito                             60      597.83
Carnitas Crispy Tacos                         8       77.96
Carnitas Salad                                1        8.99
Carnitas Salad Bowl                           6       66.34
Carnitas Soft Tacos                          40      375.94
Chicken Bowl                                761     7342.73
Chicken Burrito                             591     5575.82
Chicken Crispy Tacos                         50      472.13
Chicken Salad                                 9       81.09
Chicken Salad Bowl                          123     1228.75
Chicken Soft Tacos                          120     1108.09
Chips                                       230      494.34
Chips and Fresh Tomato Salsa                130      361.36
Chips and Guacamole                         506     2201.04
Chips and Mild Fresh Tomato Salsa             1        3.00
Chips and Roasted Chili Corn Salsa           23       67.85
Chips and Roasted Chili-Corn Salsa           18       43.02
Chips and Tomatillo Green Chili Salsa        45      132.75
Chips and Tomatillo Red Chili Salsa          50      147.50
Chips and Tomatillo-Green Chili Salsa        33       78.87
Chips and Tomatillo-Red Chili Salsa          25       59.75
Crispy Tacos                                  2       14.80
Izze                                         20       67.80
Nantucket Nectar                             29       98.31
Salad                                         2       14.80
Side of Chips                               110      185.90
Steak Bowl                                  221     2260.19
Steak Burrito                               386     3851.43
Steak Crispy Tacos                           36      357.34
Steak Salad                                   4       35.66
Steak Salad Bowl                             31      343.59
Steak Soft Tacos                             56      536.05
Veggie Bowl                                  87      867.99
Veggie Burrito                               97      934.77
Veggie Crispy Tacos                           1        8.49
Veggie Salad                                  6       50.94
Veggie Salad Bowl                            18      182.50
Veggie Soft Tacos                             8       73.96

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?