# Quizz 1 - Python basics

## a) type

### Create a variable `string` containing `"toto"` and a variable `number` containing the number 10.

In [39]:
string = "toto"
number=10

### Convert `string` to unicode and `number` to float.

In [40]:
number=float(number)
print(type(number))

<class 'float'>


### Reverse the contents of the variables `string` and `number` (from line 1).

In [46]:
string="toto"
string=string[::-1]
print(string)

number=10
n=str(number)
n=n[::-1]
print(n)

otot
01

## b) List

### Create a list `first_list`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [48]:
first_list=[1,3,2,7,4,10,46]


### Display the first 3 items in `first_list` - in one line of code.

In [49]:
print(first_list[0:3])

[1, 3, 2]

### Create a `second_list` that contains only the 3rd, 4th and 5th elements of `first_list` . Your list indexing should use 3 characters at most (not including spaces) - Check your result carefully!

In [50]:
second_list=first_list[3:6]
print(second_list)

[7, 4, 10]

### Concatenate `first_list` and `second_list` to form `third_list`.

In [51]:
third_list=first_list+second_list
print(third_list)

[1, 3, 2, 7, 4, 10, 46, 7, 4, 10]

### Using the zip function, associate the values of `first_list` and `second_list` in the variable `tuple_of_lists`.

In [52]:
tuple_of_lists=zip(first_list,second_list)
print(list(tuple_of_lists))

[(1, 7), (3, 4), (2, 10)]

### Add the number 5 to `first_list`.

In [53]:
first_list.append(5)
print(first_list)

[1, 3, 2, 7, 4, 10, 46, 5]

### Add a null element to `third_list`.

In [54]:
third_list.append(0)
print(third_list)

[1, 3, 2, 7, 4, 10, 46, 7, 4, 10, 0]

### Write a function that takes as arguments a list `my_list` and an integer `n` and returns the result of `n` concatenations of `my_list` with itself.

In [55]:
# Example : my_list=[1,2,3], n=2 --> [1,2,3,1,2,3]

def concatenation(my_list,n):
    return my_list*n
print(concatenation([1,2,3],3))

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### You want to make parameter `n` optional and set its value to 2 by default. How do you do it?

In [56]:
def para(n=2)

SyntaxError: invalid syntax (<ipython-input-56-694b20bef0d0>, line 1)

###  With a `while` loop, print each element of `third_list` up to the `null` element.

In [57]:
index=0
while index<len(third_list):
    element = third_list[index]
    index+=1
print(third_list)

[1, 3, 2, 7, 4, 10, 46, 7, 4, 10, 0]

### Calculate, with a `for` loop, the number of even integers present in the list `first_list`.

In [58]:
first_list=[i for i in first_list if i%2==0]
print(first_list)

[2, 4, 10, 46]

### Rewrite the following expression with a multi-line `for` loop.

In [59]:
even_numbers = [element for element in first_list if element % 2 == 0]
print(even_numbers)

[2, 4, 10, 46]

In [60]:
even_numbers=[]

for element in first_list:
    if element%2==0:
        even_numbers.append(element)
print(even_numbers)

[2, 4, 10, 46]

### Create a function that takes a string as input and returns the first single letter of the string

In [64]:
def fuction_one(string):
    for i in range(len(string)):
        return string[0]
print(fuction_one("Hello"))

H

## c) Dictionaries

### Create a `car` dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [66]:
car={"brand":"Ford", "model":"Mustang", "year":1964}

### Access the `year` value.

In [67]:
print(car["year"])

1964

###  Use a loop to display all the dictionary keys.

In [70]:
for key,value in car.items():
    print(key)

brand
model
year

###  Use a loop to display all the dictionary values.

In [71]:
for key, value in car.items():
    print(value)

Ford
Mustang
1964

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (`enumerate` function).

In [72]:
for i, (k, v) in enumerate(car.items()):
    print(i, k, v)

0 brand Ford
1 model Mustang
2 year 1964

### With the help of a dictionary comprehension, create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### Example of a dictionary comprehension (similar to list comprehension):
```
dict = {key:value for key, value in zip(list_1, list_2)}
```

In [130]:
cle=["cle_1","cle_2","cle_3"]
print(cle[1])
dict_car=[car,car,car]


new_dict={key:value for key, value in zip(cle,dict_car)}
print(new_dict)

cle_2
{'cle_1': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}, 'cle_2': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}, 'cle_3': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}}

## d) Functions

### Create a Fibonacci function called `fibonacci`  (Fibonacci sequence: 0 1 1 2 3 5 8 13 ...)

It should return the list of all Fibonacci numbers leading up to the Fibonacci number that is bigger (or equal) than the number passed in as argument.
Ex : `fibonacci(10) return [0,1,1,2,3,5,8,13]`
Ex : `fibonacci(5) return [0,1,1,2,3,5]`

In [102]:
def fib(n):
    n1=0
    n2=1
    for i in range(n):
        print(n1) 
        temp=n1
        n1=n2
        n2=temp+n2
fib(5)

0
1
1
2
3

### Execute your function. `fibonacci(100)` must be executed in less than 1 second.

In [101]:
def fib(n):
    n1=0
    n2=1
    for i in range(n):
        print(n1)
        temp=n1
        n1=n2
        n2=temp+n2
                
fib(100)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026

### Create the same function using a generator
Ex : `generate_fibonacci(10) `

In [129]:
def fib(n):
    n1=0
    n2=1
    for i in range(n):
        yield n1
        temp=n1
        n1=n2
        n2=temp+n2
fib(5)        
                

n = int(input('inter number'))
print(list(fib(n)))

inter number5
[0, 1, 1, 2, 3]